{% extends 'base.html.twig' %}

{% block title %}Giới thiệu{% endblock %}

{% block body %}
	{% if intro %}
	<div class="wrap-container">
		<div class="container">
			<div class="winco-food intro">
				<div class="title">
					<h1>{{intro.title}}</h1>
				</div>
				<div class="row">
					<div class="col-md-10">
						{{intro.description|raw}}
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
{% endblock %}