{% extends 'base.html.twig' %}

{% block title %}{{product.title}}{% endblock %}

{% block body %}
	{% if product %}
	<div class="wrap-container">
		<div class="container">
			<div class="winco-food detail product">
				<div class="title">
					<h1>{{product.title}}</h1>
				</div>
				<div class="row">
					<div class="col-md-8">
						{{product.content|raw}}
						<div class="blb"></div>
					</div>
				</div>
			</div>
			{{ render(controller('App\\Controller\\ProductController::productByCategory', {categoryId: product.category.id, productId: product.id})) }}
		</div>
	</div>
	{% endif %}
{% endblock %}